
DerivedData/ToDoManager/Logs/Debug/E35B4A77-1F95-495E-9D68-58C4ED31BD2B.xcactivitylog

DerivedData/ToDoManager/Build/Products/Debug-iphonesimulator/ToDoManager.app/Frameworks/libswiftContacts.dylib

DerivedData/ToDoManager/Logs/Build/19CD2EF5-F0F8-43A7-AFB5-3391753A8A11.xcactivitylog

DerivedData/ToDoManager/Logs/Issues/Cache.db

*.pcm
